{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

     <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Livros</h2>
            </div>
            <!-- Custom Content -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Listagem de Livros
                                <small>Lista de livros disponíveis para empréstimo</small>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row">
                            {% for livro in object_list %}
                                <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                        {% if livro.image %}
                                        <img src="{{livro.image.url}}">
                                        {% else %}
                                        <img src="{% static 'images/images.jpg' %}">
                                        {% endif %}
                                        <div class="caption">
                                        <h3>{{livro.titulo}}</h3>
                                            <h7>{{livro.autor}} </h7>
                                            <p> {{livro.editora}}</p>       
                                            <p>
                                                <a href="javascript:void(0);" class="btn btn-primary waves-effect" role="button">SOLICITAR</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                 {% endfor %}
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
            <!-- #END# Custom Content -->
        </div>
    </section>
{% endblock content %}