{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Livros</h2>
            </div>
            <!-- Custom Content -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Listagem de Livros
                                <small>Lista dos livros solicitados na plataforma</small>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row">
                            {% if object_list %}
                            {% for solicitacao in object_list %}
                                <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                        {% if solicitacao.livro_solicitado.image %}
                                        <img src="{{solicitacao.livro_solicitado.image.url}}">
                                        {% else %}
                                        <img src="{% static 'images/images.jpg' %}">
                                        {% endif %}
                                        <div class="caption">
                                            <h6>Data do empréstimo: {{solicitacao.data_emprestimo}}</h6>
                                            <h7><b>Livro:</b> {{solicitacao.livro_solicitado.all|join:", "|linebreaks}} </h7>
                                            <p>
                                                <a href="{% url 'solicitacao:devolucao'%}?solicitacao={{solicitacao.id}}" class="btn btn-primary waves-effect" role="button">Devolver</a>    
                                            </p>                                           
                                        </div>
                                    </div>
                                </div>
                                 {% endfor %}
                                 {% else %}
                                
                                <h2>Você não possue registro de livros solicitados</h2>

                                {% endif %}

                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Custom Content -->
        </div>
    </section>
{% endblock content %}